/* Simple Normalize */
*, *:before, *:after {
  box-sizing: border-box;
}
body { margin: 0; }

/* Container */
.🔵 {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  max-width: 100%;
}

/* Row */
.🔷 {
  margin-left: -0.5em;
  margin-right: -0.5em;
}
.🔷:after {
  content: '';
  display: table;
  clear: both;
  margin-left: -0.5em;
  margin-right: -0.5em;
}

/* General Column Classes */
[class*='col-'] {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 0.5em;
  padding-right: 0.5em; }
.col-👆 { width: 8.33333%; }
.col-👫 { width: 16.66667%; }
.col-👪 { width: 25%; }
.col-🍕 { width: 33.33333%; }
.col-🌿 { width: 41.66667%; }
.col-🍇 { width: 50%; }
.col-🎰 { width: 58.33333%; }
.col-🎹 { width: 66.66667%; }
.col-🍪 { width: 75%; }
.col-🔟 { width: 83.33333%; }
.col-📱 { width: 91.66667%; }
.col-💥 { width: 100%; }